<#@ template hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<#@ import namespace="System" #>

namespace MentorLake.Redux.Thunks;

<#
	var sharedProperties = """
public string ActionName => actionName ?? string.Empty;
	public string PendingName => $"{actionName}/pending";
	public string FulfilledName => $"{actionName}/fulfilled";
	public string RejectedName => $"{actionName}/rejected";
""";
#>

public readonly struct ThunkAction<TApi>(string actionName, Func<TApi, Task> work) where TApi : ThunkApi
{
	<#=sharedProperties#>
	private readonly CallableThunkAction<TApi> _thunk = new(ActionName ?? string.Empty, work);
	public CallableThunkAction<TApi> Bind() => _thunk;
	public ThunkAction(Func<TApi, Task> work) : this(string.Empty, work) { }
	public static implicit operator ThunkAction<TApi>(Func<TApi, Task> work) => new(work);
}

public readonly struct ThunkFunc<TApi,TResult>(string actionName, Func<TApi, Task<TResult>> work) where TApi : ThunkApi
{
	<#=sharedProperties#>
	private readonly CallableThunkFunc<TApi, TResult> _thunk = new(ActionName ?? string.Empty, work);
	public CallableThunkFunc<TApi, TResult> Bind() => _thunk;
	public ThunkFunc(Func<TApi, Task<TResult>> work) : this(string.Empty, work) { }
	public static implicit operator ThunkFunc<TApi, TResult>(Func<TApi, Task<TResult>> work) => new(work);
}

public readonly struct CallableThunkAction<TApi>(string actionName, Func<TApi, Task> work) : ICallableThunkAction<TApi> where TApi : ThunkApi
{
	public async Task ExecuteAsync(TApi api)
	{
		try
		{
			api.Dispatch(new ThunkPending(actionName));
			await work(api);
			api.Dispatch(new ThunkFulfilled(actionName));
		}
		catch (Exception e)
		{
			api.Dispatch(new ThunkRejected(actionName, e));
		}
	}

	public static implicit operator CallableThunkAction<TApi>(Func<TApi, Task> work) => new(string.Empty, work);
}

public readonly struct CallableThunkFunc<TApi, TResult>(string actionName, Func<TApi, Task<TResult>> work) : ICallableThunkFunc<TApi, TResult> where TApi : ThunkApi
{
	public async Task ExecuteAsync(TApi api)
	{
		try
		{
			api.Dispatch(new ThunkPending(actionName));
			var result = await work(api);
			api.Dispatch(new ThunkFulfilled<TResult>(actionName, result));
		}
		catch (Exception e)
		{
			api.Dispatch(new ThunkRejected(actionName, e));
		}
	}

	public static implicit operator CallableThunkFunc<TApi, TResult>(Func<TApi, Task<TResult>> work) => new(string.Empty, work);
}
<#
	for (var i = 1; i <= 7; i++)
	{
#>

public readonly struct ThunkAction<TApi, <#=Repeat(i, "TArg{i}")#>>(string actionName, Func<TApi, <#=Repeat(i, "TArg{i}")#>, Task> work) where TApi : ThunkApi
{
	<#=sharedProperties#>
	public ThunkAction(Func<TApi, <#=Repeat(i, "TArg{i}")#>, Task> work) : this(string.Empty, work) { }
	public CallableThunkAction<TApi, <#=Repeat(i, "TArg{i}")#>> Bind(<#=Repeat(i, "TArg{i} arg{i}")#>) => new(ActionName, work, <#=Repeat(i, "arg{i}")#>);
	public static implicit operator ThunkAction<TApi, <#=Repeat(i, "TArg{i}")#>>(Func<TApi, <#=Repeat(i, "TArg{i}")#>, Task> work) => new(work);
}

public readonly struct ThunkFunc<TApi, <#=Repeat(i, "TArg{i}")#>, TResult>(string actionName, Func<TApi, <#=Repeat(i, "TArg{i}")#>, Task<TResult>> work) where TApi : ThunkApi
{
	<#=sharedProperties#>
	public ThunkFunc(Func<TApi, <#=Repeat(i, "TArg{i}")#>, Task<TResult>> work) : this(string.Empty, work) { }
	public CallableThunkFunc<TApi, <#=Repeat(i, "TArg{i}")#>, TResult> Bind(<#=Repeat(i, "TArg{i} arg{i}")#>) => new(ActionName, work, <#=Repeat(i, "arg{i}")#>);
	public static implicit operator ThunkFunc<TApi, <#=Repeat(i, "TArg{i}")#>, TResult>(Func<TApi, <#=Repeat(i, "TArg{i}")#>, Task<TResult>> work) => new(work);
}

public readonly struct CallableThunkAction<TApi, <#=Repeat(i, "TArg{i}")#>>(string actionName, Func<TApi, <#=Repeat(i, "TArg{i}")#>, Task> work, <#=Repeat(i, "TArg{i} arg{i}")#>) : ICallableThunkAction<TApi> where TApi : ThunkApi
{
	public async Task ExecuteAsync(TApi api)
	{
		try
		{
			api.Dispatch(new ThunkPending(actionName));
			await work(api, <#=Repeat(i, "arg{i}")#>);
			api.Dispatch(new ThunkFulfilled(actionName));
		}
		catch (Exception e)
		{
			api.Dispatch(new ThunkRejected(actionName, e));
		}
	}
}

public readonly struct CallableThunkFunc<TApi, <#=Repeat(i, "TArg{i}")#>, TResult>(string actionName, Func<TApi, <#=Repeat(i, "TArg{i}")#>, Task<TResult>> work, <#=Repeat(i, "TArg{i} arg{i}")#>) : ICallableThunkFunc<TApi, TResult> where TApi : ThunkApi
{
	public async Task ExecuteAsync(TApi api)
	{
		try
		{
			api.Dispatch(new ThunkPending(actionName));
			var result = await work(api, <#=Repeat(i, "arg{i}")#>);
			api.Dispatch(new ThunkFulfilled<TResult>(actionName, result));
		}
		catch (Exception e)
		{
			api.Dispatch(new ThunkRejected(actionName, e));
		}
	}
}

<#
	}
#>
<#+
	private string Repeat(int num, string template, string separator = ",")
	{
		var items = new string[num];

		for (var i = 0; i < num; i++)
		{
			items[i] = template.Replace("{i}", (i + 1).ToString());
		}

		return string.Join(separator, items);
	}
#>
